/* Style général du composant */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.custom-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
}

.solde-restant {
    font-size: 22px;
    font-weight: bold;
    color: #9c7e2a;
    margin-left: 20px;
}

.add-button {
    margin-right: 20px;
}

/* Style pour la pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination span {
    margin: 0 10px;
}


/* Ajoutez à votre CSS existant */
.card-container {
    gap: 1rem;
    padding: 1rem;
}

.slds-modal.slds-fade-in-open {
    animation: fadeIn 0.3s ease-in-out;
}
.slds-modal__content p {
    margin-bottom: 12px; /* Ajuste selon l'espacement souhaité */
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
}

.file-pill {
    margin-top: 10px;
    background: #f3f3f3;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    word-break: break-word;
}

/* Aligner le texte à gauche dans le modal */
.slds-text-align_left {
    text-align: left;
}

.slds-modal_custom {
    max-width: 60% !important; /* Ajuste la largeur */
    height: 100% !important; /* Ajuste la hauteur */
}

.search-bar-wrapper {
    position: relative;
    max-width: 400px;
    margin: 1rem auto;
}

.styled-search {
    padding-left: 2.5rem; /* espace pour l'icône */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    --slds-c-input-radius-border: 0.75rem;
    --slds-c-input-color-border: #ccc;
}

.impact-red {
    color: rgb(68, 9, 4);
}

.impact-green {
    color: #012904;
}

.impact-neutral {
    color: #555;
    font-style: italic;
}

/* Appliquer des puces sous forme de cercles avant chaque élément de liste */
.custom-list {
    list-style-type: none; /* Enlever les puces par défaut */
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Ajouter un espacement similaire à celui des titres avant les éléments de la liste */
.custom-list li {
    position: relative;
    padding-left: 20px; /* Espacement pour l'icône */
    margin-bottom: 10px; /* Espacement entre les éléments */
    margin-left: 60px; /* Espacement pour aligner avec les titres */
}

/* Ajouter des puces en forme de cercle */
.custom-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d29a00; /* Couleur du cercle (par exemple, bleu) */
}
